.copyButtonComponent {
  display: inline-block;
  text-align: center;
}

.animatedButton {
  background: linear-gradient(45deg, #ff6f61, #de6262, #ffb88c);
  background-size: 400% 400%;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  transition: transform 0.3s ease;
  animation: gradientAnimation 5s ease infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.animatedButton:hover {
  transform: scale(1.05);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.success {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: green;
  color: white;
  padding: 15px;
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: bold;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
