@import "../setting";

.FAQComponent {
  .container {
    margin: 2rem 0;
    padding: 2rem;
    background: darken($color-quaternary, 5%);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .card {
      margin: 1rem 0;
      padding: 0.8rem;
      background: #fefefe;
      border-radius: 0.5rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
      width: 75%;

      &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }

      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        h3 {
          font-size: 1rem;
          font-weight: 500;
        }
      }

      .card-body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        padding: 0 1rem;

        p {
          font-size: 1rem;
          line-height: 1.8;
        }
      }

      &.active {
        .card-body {
          max-height: 500px; // Ajustez cette valeur en fonction de la hauteur maximale attendue du contenu
          padding: 1rem 0;
        }
      }
    }
  }
}
