@import "../setting";

.NavigationBar {
  background-color: $color-quaternary;
  padding: 15px; /* Ajustement du padding pour éviter de décaler la position */
  box-shadow: 0 2px 4px rgba($color-dark, 0.1);
  transition: transform 0.3s ease; /* Changer de `all` à `transform` pour éviter des animations non voulues */
  position: fixed;
  top: 0; /* Fixe bien la barre en haut */
  left: 0; /* S'assure que la barre est bien alignée à gauche */
  width: 100%; /* Assure une largeur correcte sans dépasser la fenêtre */
  box-sizing: border-box;
  z-index: 9999;

  &.hidden {
    transform: translateY(-100%); /* Assure que la barre disparaît complètement vers le haut */
  }

  &.visible {
    transform: translateY(0); /* Assure que la barre est bien en place */
  }

  &:hover {
    background-color: lighten($color-quaternary, 5%);
  }

  .burger-menu {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: $color-dark;

    @media (max-width: 768px) {
      display: block;
      background: none;
      border: none;
      outline: none;
      position: relative;
      top: 1rem;
      right: 1rem;
      margin: 15px;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;

    ul {
      list-style: none;
      display: flex;
      gap: 1rem;
      padding: 0;
      margin: 0;

      .nav-item {
        position: relative;

        a {
          font-family: "Bold", sans-serif;
          font-size: 1rem;
          color: $color-dark;
          padding: 0.5rem 0.5rem;
          position: relative;
          display: block; /* Ajout de display: block */
          transition: color 0.3s ease, transform 0.3s ease;

          &.nav-active {
            color: $color-primary;
          }

          &:hover {
            color: $color-secondary;
            transform: translateY(-3px);
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: $color-primary;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.3s ease;
          }

          &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $color-quaternary;
      padding: 1rem;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
      border-bottom: 1px solid $color-dark;
      box-shadow: 0 2px 4px rgba($color-dark, 0.1);
      display: none;

      &.open {
        max-height: 200px;
        display: block;
        box-shadow: 0 20px 20px 3px $color-dark;
        z-index: 100;
      }

      ul {
        flex-direction: column;
        gap: 1rem;
        padding: 0;
        margin: 0;
        width: 100%;
      }
    }
  }
}
