@import "../setting";

.newsLetterComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  animation: fadeIn 1s ease-in-out;
  max-width: 600px;
  margin: 2rem auto;
  background-color: $color-quaternary;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    animation: slideInFromTop 1s ease-in-out;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;

    label {
      position: relative;
      width: 100%;
      margin-bottom: 1.5rem;

      input {
        width: 100%;
        padding: 0.75rem;
        font-size: 1rem;
        border: 1px solid $color-secondary;
        border-radius: 5px;
        background-color: transparent;
        transition: border 0.3s ease, background-color 0.3s ease;
        position: relative; // Ajouté pour les pseudo-éléments

        &:focus {
          outline: none;
          border: 1px solid $color-primary;
          background-color: darken($color-quaternary, 5%); // Assombrir au focus
        }

        &:hover {
          background-color: darken(
            $color-quaternary,
            3%
          ); // Assombrir au survol
        }

        &:focus + span,
        &:not(:placeholder-shown) + span {
          top: -0.75rem;
          left: 0.5rem;
          font-size: 0.8rem;
          color: $color-primary;
          background-color: $color-quaternary;
          padding: 0 0.25rem;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          border-radius: 5px;
          transition: all 0.3s ease;
          z-index: -1; // Derrière l'input
        }

        &:hover::before {
          background-color: darken(
            $color-quaternary,
            2%
          ); // Assombrir au survol
        }

        &:focus::before {
          background-color: darken($color-quaternary, 7%); // Assombrir au focus
        }
      }

      span {
        position: absolute;
        left: 0.75rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1rem;
        color: $color-secondary;
        pointer-events: none;
        transition: all 0.3s ease;
      }
    }

    button {
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      background-color: $color-primary;
      color: $color-quaternary;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($color-primary, 5%);
      }
    }
  }
}
