.testimonial {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  .card {
    flex: 1 1 calc(33.333% - 1rem);
    max-width: calc(33.333% - 1rem);
    border-radius: 8px;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; // Indique que c'est cliquable

    img {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      object-fit: cover;
      width: 100%;
      height: auto;
      display: block;
    }

    &:hover {
      transform: translateY(-5px);
    }
  }

  @media (max-width: 768px) {
    .card {
      flex: 1 1 calc(50% - 1rem);
      max-width: calc(50% - 1rem);
    }
  }

  @media (max-width: 480px) {
    .card {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReactModal__Content {
  position: relative;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  outline: none;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block; // Assurez-vous que l'image est un bloc
    margin: 0 auto; // Centrer l'image
  }

  @media (max-width: 768px) {
    img {
      max-height: 80vh; // Limiter la hauteur de l'image à 80% de la vue
    }
  }

  .close-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: $color-dark;
    background: $color-primary;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;

    &:hover {
      background: $color-secondary;
      color: white;
    }

    @media (max-width: 768px) {
      top: 0.5rem;
      right: 0.5rem;
      font-size: 1.5rem;
    }

    @media (max-width: 480px) {
      top: 0.25rem;
      right: 0.25rem;
      font-size: 1rem;
    }

    @media (max-width: 320px) {
      top: 0.1rem;
      right: 0.1rem;
      font-size: 0.75rem;
    }
  }
}
