# Désactiver MultiViews
Options -MultiViews

# Activer le moteur de réécriture
RewriteEngine On
RewriteBase /

# Redirige les requêtes vers index.html pour React Router
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirection pour ne pas avoir de slash à la fin
RewriteRule ^(.*)/$ /$1 [R=301,L]

# Redirige toutes les autres requêtes vers index.html
RewriteRule ^ index.html [L]
