@import "../setting";

.adminPage {
  .adminContainer {
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
      background-color: $color-quaternary;

      th {
        background-color: $color-secondary;
        color: $color-quaternary;
        font-weight: 500;
        padding: 12px;
        text-align: left;
        font-size: 1.1em;
        border-bottom: 2px solid $color-quaternary;
      }

      td {
        padding: 15px;
        font-size: 1em;
        color: $color-dark;
        border-bottom: 1px solid lighten($color-dark, 40%);
        vertical-align: middle;

        &:first-child {
          font-weight: bold;
          color: $color-secondary;
        }
      }

      tr:nth-child(even) {
        background-color: lighten($color-primary, 35%);
      }

      tr:hover {
        background-color: lighten($color-primary, 25%);
      }

      .actionsContainer {
        display: flex;
        flex-direction: row;
        gap: 8px;

        .actions {
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          border-radius: 5px;
          color: white;
          cursor: pointer;
          font-weight: bold;
          padding: 8px 12px;
          transition: background-color 0.3s ease;
        }

        .update {
          background-color: royalblue;

          &:hover {
            background-color: darken(royalblue, 10%);
          }
        }

        .delete {
          background-color: crimson;

          &:hover {
            background-color: darken(crimson, 10%);
          }
        }
      }

      img {
        max-width: 60px;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }

      a {
        color: $color-primary;
        text-decoration: underline;
        font-weight: 500;

        &:hover {
          color: darken($color-primary, 15%);
        }
      }
    }

    h2 {
      font-size: 1.8em;
      color: $color-secondary;
      margin-bottom: 1.5rem;
      text-align: center;
    }

    .userList {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      margin: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .ebook {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 20px;
      margin: 20px;
      border-radius: 5px;

      .ebookAdd {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          gap: 1rem;

          label {
            position: relative;
            width: 100%;
            margin-bottom: 1.5rem;

            input {
              width: 100%;
              padding: 0.75rem;
              font-size: 1rem;
              border: 1px solid $color-secondary;
              border-radius: 5px;
              background-color: transparent;
              transition: border 0.3s ease, background-color 0.3s ease;
              position: relative; // Ajouté pour les pseudo-éléments

              &:focus {
                outline: none;
                border: 1px solid $color-primary;
                background-color: darken(
                  $color-quaternary,
                  5%
                ); // Assombrir au focus
              }

              &:hover {
                background-color: darken(
                  $color-quaternary,
                  3%
                ); // Assombrir au survol
              }

              &:focus + span,
              &:not(:placeholder-shown) + span {
                top: -0.75rem;
                left: 0.5rem;
                font-size: 0.8rem;
                color: $color-primary;
                background-color: $color-quaternary;
                padding: 0 0.25rem;
              }

              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                border-radius: 5px;
                transition: all 0.3s ease;
                z-index: -1; // Derrière l'input
              }

              &:hover::before {
                background-color: darken(
                  $color-quaternary,
                  2%
                ); // Assombrir au survol
              }

              &:focus::before {
                background-color: darken(
                  $color-quaternary,
                  7%
                ); // Assombrir au focus
              }
            }

            span {
              position: absolute;
              left: 0.75rem;
              top: 50%;
              transform: translateY(-50%);
              font-size: 1rem;
              color: $color-secondary;
              pointer-events: none;
              transition: all 0.3s ease;
            }

            input[type="file"] {
              appearance: none;
              width: 100%;
              padding: 0.75rem;
              font-size: 1rem;
              border: 1px solid $color-secondary;
              border-radius: 5px;
              background-color: transparent;
              transition: border 0.3s ease, background-color 0.3s ease;

              &::file-selector-button {
                padding: 0.5rem 1rem;
                font-size: 1rem;
                border: none;
                border-radius: 5px;
                background-color: $color-primary;
                color: $color-quaternary;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                  background-color: darken($color-primary, 5%);
                }
              }
              display: flex;
              align-items: center;
              gap: 0.5rem;
              padding: 0.75rem 1.5rem;
              font-size: 1rem;
              border: none;
              border-radius: 5px;
              background-color: $color-primary;
              color: $color-quaternary;
              cursor: pointer;
              transition: background-color 0.3s ease;

              &:hover {
                background-color: darken($color-primary, 5%);
              }
            }
          }

          button {
            padding: 0.75rem 1.5rem;
            font-size: 1rem;
            border: none;
            border-radius: 5px;
            background-color: $color-primary;
            color: $color-quaternary;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: darken($color-primary, 5%);
            }
          }
        }
      }

      .ebookList {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
