.PDFContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    button {
      margin-bottom: 20px;
    }
  }
}