$color-primary: #ffb69f;
$color-secondary: #f98963;
$color-tertiary: #aecac6;
$color-quaternary: #faebe2;
$color-dark: #333333;

@font-face {
  font-family: "Regular";
  src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Bold";
  src: url("../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Italic";
  src: url("../assets/fonts/Poppins-Italic.ttf");
}

html {
  scroll-behavior: smooth;
  transition: 0.3s ease-out;

  body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Regular", sans-serif;
    color: $color-dark;
    background-color: $color-quaternary;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Bold", sans-serif;
      color: $color-primary;
    }

    h2, h3 {
      text-align: center;
      margin-bottom: 1rem;
    }

    h1.title {
      font-size: 2.5rem;
      text-align: center;
      margin-top: 2rem;
    }

    a {
      text-decoration: none;
      color: $color-secondary;

      &:hover {
        color: $color-tertiary;
      }
    }

    p {
      font-family: "Regular", sans-serif;
      line-height: 1.6;
      margin-bottom: 1.5rem;
    }

    .btn {
      background-color: $color-primary;
      color: white;
      border: none;
      padding: 10px 20px;
      font-family: "Bold";
      cursor: pointer;
      transition: background-color 0.3s ease;
      border-radius: 5px;

      &:hover {
        color: $color-dark;
        background-color: $color-tertiary;
      }
    }
  }
}
