// Global
@import './setting';
// Components
@import './components/navigation';
@import './components/footer';
@import './components/map';
@import './components/testimonials';
@import './components/coursIndividuel';
@import './components/atelierConversation';
@import './components/instagramBanner';
@import './components/newsLetter';
@import './components/faq';
@import './components/testNiveauQuiz';
@import './components/copyButton';
// Pages
@import './pages/home';
@import './pages/about';
@import './pages/service';
@import './pages/admin';
@import './pages/ressource';
@import './pages/erreur404';
@import './pages/pdf';
@import './pages//enConstruction';